*{
    padding: 0;
    outline: 0;
    margin: 0;
}
a{
    text-decoration: none !important;
}
ul,li{
    list-style-type: none;
}
img{
    border: 0;
}
body{
   font-family: 'Open Sans', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Lobster', cursive;
   font-family: 'Monoton', cursive;  
}
/*background image part start*/
.background_image{
    background: url(../images/backgroun.jpg);
    height: 100%;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*background image part end*/

/*headear part html strat*/
.header_part1{
    background: #0d59d3;
}
@media screen and (max-width: 576px) {
  .header_logo a{
    display: none;
  }
    .header_part2{
        text-align: center;
    } 
    .header_part2 ul li{
        text-align: center;
        margin-bottom: 15px;
    }
    .header_part2 ul li a{
        text-align: center;
    }
    .header_icon{
        display: none;
    }
    .about_part2 img {
    margin: 20px 50px 0px 71px !important;
}
    .about_part1 {
    margin: 25px 0px 0px 119px !important;
      }
    .about_part2 h3 {
    margin: 13px 0px 15px 146px !important;
}
   .hire_button {
    margin: 0px 0px 20px 115px !important;
    padding: 3px 38px !important;

} 
    .about_part1 h2{
        
    }
}
@font-face{
    font-family: myCookie;
    src:url(Cookie-Regular.ttf);
}
.header_logo a{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: Cookie; 
    color: #000000;
        transition: all linear .450s;
    -webkit-transition: all linear .3s.
        -o-transition: all linear .3s.
        -ms-transition: all linear .3s.
        -moz-transition: all linear .3s.
}
.header_logo a:hover{
    color: #fff;
    transition: all linear .450s;
    -webkit-transition: all linear .3s.
        -o-transition: all linear .3s.
        -ms-transition: all linear .3s.
        -moz-transition: all linear .3s.
}
.header_logo a:hover img{
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;
}
.header_part2 ul li{
    float: left;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px;
    margin-left: 5px;
    text-align: center;
           transition: all linear .4s;
    -webkit-transition: all linear .4s.
        -o-transition: all linear .4s.
        -ms-transition: all linear .4s.
        -moz-transition: all linear .4s. 
}
.header_part2 ul li a{
    color: #000000;
    font-size: 15px;
    font-weight: 600;

}
.header_part2 ul li a:active {
    background-color: aqua;
    color: #fdcf51;
}
.header_part2 ul li:hover a {
    color: #ffffff;
        transition: all linear .4s;
    -webkit-transition: all linear .4s.
        -o-transition: all linear .4s.
        -ms-transition: all linear .4s.
        -moz-transition: all linear .4s.
    
}
.header_icon{
    margin-left: 230px;
}
.header_icon ul li{
    float: left;
    padding: 0px 7px;
    transition: all linear .3s;
}
.header_icon ul li a{
    color: #000000;
    font-size: 15px;       
}
.header_icon ul li:hover a{
    color: #ffffff;
    transition: all linear .3s;
}
.header_icon ul li:last-child{
    margin-left: 2px;
}
/*header part html end*/
/*about part start*/
.about_part{
    background: #ffffff;
}

.about_part1{
    margin: 20px 0px 20px 450px;
}
.about_part1 h2{
    color: #000000;
    border-bottom: 2px dotted #000;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    
}
.about_part2 img{
    margin: 20px 50px 10px 150px;
}
.about_part2 h3{
    font-size: 14px;
    margin: 0px 0px 15px 200px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.about_part2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0px 5px 20px 15px;
    text-align:justify;
    text-decoration: none;
}
.hire_button{
    border: 1px solid #000000;
    display: inline-block;
    margin: 0px 0px 20px 200px;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all linear .3s;
}
.hire_button:hover{
    background: #e5d72b;
    border-color: #145ed4;
    transition: all linear .3s;
}
.hire_button a{
     font-family: 'Open Sans', sans-serif;
    color:#000000;
    font-size: 20px;
}
/*about part end*/